# Ignore all the environment files
*.env
# Ignore Inst_outputs directory
Inst_outputs
# Ignore venv directory
/.venv
# Ignore University_Data director
# Universities/
Universities/*
Universities/*/*
Universities
/Universities
Universities/
Grad_prog_outputs/
Undergrad_prog_outputs/
/Grad_prog_outputs/
utils/